<!-- <div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>
</div> -->


<div class="background">
  <div class="gradient">
    <div class="container">
      <h1> Vehicle Management Information System</h1>
 
      <div class="get-started" >
        <h2>About  VMIS</h2>
          <p>VMIS is a web based application that aims to provide vehicle managment in terms of fuel consumption, vehicle usage and driver's assignment for cost effective
            operation and utilization to achieve the goals of organization.
          </p>
          <br><br>
          <hr>
          <div >
            <h2>System Updates</h2>
            <h4>Version 1.0</h4>
                <ul>
                  <li>CRUD Vehicle, Drivers, and Requisitioning Officer.</li>
                  <li>Monitor Fuel Consumption.</li>
                </ul>
                
          </div>
          
      </div>
    </div>
 
  </div>
</div>

