<div class="col-md-12">
  <mat-card class="card card-container">
    <img
    id="profile-img"
    src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
    class="profile-img-card"
  />
  <div class="form-container">
    <form *ngIf="!isSuccessful" [formGroup]="signUpForm" (ngSubmit)="signUpForm.valid && submit()"  novalidate>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input  type="text" matInput formControlName="username" required>
      <mat-error *ngIf="f['username'].errors && f['username'].errors['required']">"Username is required"</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email Address</mat-label>
      <input  type="text" matInput formControlName="email" required>
      <mat-error *ngIf="f['email'].errors && f['email'].errors['required']">"Email is required"</mat-error>
      <mat-error *ngIf="f['email'].errors && f['email'].errors['email']">"Invalid Email Address"</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input  type="password" matInput formControlName="password" required>
      <mat-error *ngIf="f['password'].errors && f['password'].errors['required']">"Password is required"</mat-error>
      <mat-error *ngIf="f['password'].errors && f['password'].errors['minlength']">"Password must be at least 6 characters"</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary">Sign up</button>
    </form>
  </div>
  <div class="alert-warning" *ngIf="isSignUpFailed">
    Signup failed!<br />{{ errorMessage }}
  </div>

  <div class="alert-success" *ngIf="isSuccessful">
    Your registration is successful!
  </div>
  </mat-card>
</div>